<h1>Edit <%= @cat.name %></h1>

<form action= "<%= cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value = "PATCH">
  <label for="Name">Name: </label>
  <input id="Name" type="text" name="cat[name]" value=" <%= @cat.name %> ">
  <br>
  <label for="Birth date">Birth date: </label>
  <input id="Birth date" type="date" name="cat[birth_date]" value= "<%= @cat.birth_date %>" >
  <br>
  <label for="Sex">Sex: </label>
  <select id="Sex" name="cat[sex]">
    <option disabled>--Please Select Sex--</option>
    <option value="F" <%= @cat.sex=="F" ? "selected":"" %> >Female</option>
    <option value="M" <%= @cat.sex=="M" ? "selected":"" %>>Male</option>
  </select>
  <br>
  <label for="Color">Color: </label>
  <select id="Color" name="cat[color]">
    <option disabled>--Please Select Color--</option>
    <option value="black" <%= @cat.color=="black" ? "selected" : "" %> >Black</option>
    <option value="brown" <%= @cat.color=="brown" ? "selected" : "" %>>Brown</option>
    <option value="tabby" <%= @cat.color=="tabby" ? "selected" : "" %>>Tabby</option>
    <option value="white" <%= @cat.color=="white" ? "selected" : "" %>>White</option>
    <option value="orange" <%= @cat.color=="orange" ? "selected" : "" %>>Orange</option>
  </select>
  <br>
  <label for="Description">Description: </label>
  <textarea id="Description" name="cat[description]"> <%= @cat.description %> </textarea>
  <br>
  <input type="submit" value="Edit Cat">
</form>
